Signal-Driven Outreach Automation.json
{
  "name": "Signal-Driven Outreach Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        },
        "filters": {
          "q": "from:(linkedin.com) AND (\"accepted your invitation\" OR \"You're now connected\")",
          "sender": "=linkedin.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        -176
      ],
      "id": "f6fc231e-5df5-4b16-9d6e-545247f1db3a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "rORSExYULN2f6QnQ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messageData = $json;\n\n// Extract name from From field\nlet nameMatch = messageData.from?.value?.[0]?.name?.match(/^([A-Za-z\\s]+)\\s+via\\s+LinkedIn/);\nconst name = nameMatch ? nameMatch[1].trim() : \"Unknown\";\n\n// Get the HTML body\nconst html = messageData.html || \"\";\n\n// Extract job title and company - it's in a plain text format in HTML\nconst jobMatch = html.match(/>([A-Za-z\\s&]+?)\\s+at\\s+([A-Za-z0-9\\s&\\.\\-]+?)</);\nlet jobTitle = \"\";\nlet company = \"\";\n\nif (jobMatch) {\n  jobTitle = jobMatch[1].trim();\n  company = jobMatch[2].trim();\n}\n\n// Extract LinkedIn profile URL\nlet profileUrl = \"\";\nconst urlMatch = html.match(/https:\\/\\/(?:uk\\.)?linkedin\\.com\\/comm\\/in\\/([^\\s\\?&\"'<>]+)/i) ||\n                 html.match(/https:\\/\\/(?:www\\.)?linkedin\\.com\\/in\\/([^\\s\\?&\"'<>]+)/i);\nif (urlMatch) {\n  profileUrl = urlMatch[0].split(\"?\")[0];\n}\n\nconsole.log(\"Name:\", name);\nconsole.log(\"Job Title:\", jobTitle);\nconsole.log(\"Company:\", company);\nconsole.log(\"Profile URL:\", profileUrl);\n\nreturn [{\n  name: name,\n  job_title: jobTitle,\n  company: company,\n  profile_url: profileUrl\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -176
      ],
      "id": "ad7dc886-a129-4b2a-bde9-5f2e4b30ef42",
      "name": "Data Mining"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -512,
        -176
      ],
      "id": "a7cb3322-c4f6-4fd0-a5bf-3b56acf578d3",
      "name": "Data Extraction",
      "webhookId": "b38b8e13-1a7d-483c-beca-2e7294acc8ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "rORSExYULN2f6QnQ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous node (handle both array and object formats)\nconst data = Array.isArray($json) ? $json[0] : $json;\n\nconst name = data.name || \"Unknown\";\nconst job_title = data.job_title || \"\";\nconst company = data.company || \"\";\nconst profile_url = data.profile_url || \"\";\n\nconst message = `Hi ${name},\n\nThanks for connecting! I was excited reading about the ${job_title} role at ${company}.\n\nI'm drawn to roles where I can become a true product expert and solve meaningful customer problems. I'd love to hear your perspective on what makes someone successful in your team?\n\nThanks and regards,\nChinmaye Raju`;\n\nreturn [{\n  name: name,\n  job_title: job_title,\n  company: company,\n  profile_url: profile_url,\n  message: message\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -176
      ],
      "id": "08f10828-c2c0-4277-ac24-246cd0978be1",
      "name": "Personalised Linkedin Message"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "chinmayeraju2510@gmail.com",
        "subject": "=Draft Ready:  To {{ $json.company }} {{ $json.name }}",
        "message": "=New LinkedIn connection accepted!\n\nFROM: {{ $json.name }}\nPOSITION: {{ $json.job_title }}\nCOMPANY: {{ $json.company }}\nPROFILE: {{ $json.profile_url }}\n\n---DRAFT MESSAGE---\n{{ $json.message }}\n---END DRAFT---\n\nThe message is ready. You can:\n1. Open LinkedIn and send it manually\n2. Reply YES to this email to send it\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        -176
      ],
      "id": "4808484b-6666-411d-82f1-ec1b5ed5fc18",
      "name": "Send message and wait for response",
      "webhookId": "9830582e-08af-46ae-b395-2b0cd3f0b96a",
      "credentials": {
        "gmailOAuth2": {
          "id": "rORSExYULN2f6QnQ",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Data Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Mining": {
      "main": [
        [
          {
            "node": "Personalised Linkedin Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Extraction": {
      "main": [
        [
          {
            "node": "Data Mining",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalised Linkedin Message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc0fdd92-0f1b-4aff-8c8d-ec67e9772506",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa078b8f924dfc0b59d3265758fd97a5d4f7123081cff962f0ed843307473543"
  },
  "id": "47e7IvwOJq6yOsWV",
  "tags": []
}